@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root{
    --primaryColor:#1D4ED8;
    --secondryColor:#3B82F6;
}

body{
    font-family: 'Libre Baskerville', serif;
}

.App{
    text-align: center;
}